{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "jest": true
  },
  "rules": {
    "semi": ["error", "never"],
    "max-len": ["error", { "code": 120 }]
  }
}
